*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    color:white;
    overflow-x:hidden;

    background:linear-gradient(
        -45deg,
        #0f172a,
        #1e3a8a,
        #7c3aed,
        #06b6d4
    );

    background-size:400% 400%;
    animation:gradientBG 15s ease infinite;
}

@keyframes gradientBG{
    0%{
        background-position:0% 50%;
    }
    50%{
        background-position:100% 50%;
    }
    100%{
        background-position:0% 50%;
    }
}

header{
    text-align:center;
    padding:60px 20px;
}

header h1{
    font-size:3rem;
    margin-bottom:15px;
}

header p{
    font-size:1.2rem;
    color:#e2e8f0;
}

.modules{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    padding:40px;
}
..card{
    background:rgba(255,255,255,0.18);
    border:1px solid rgba(255,255,255,0.3);
    border-radius:20px;
    padding:25px;
    min-height:120px;

    display:flex;
    align-items:center;

    color:white;
    text-decoration:none;

    backdrop-filter:blur(10px);

    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
    background:rgba(255,255,255,0.25);
}

.card h2{
    color:white;
    opacity:1;
}
body{
    min-height:100vh;
    overflow-y:auto;
}

.quiz{
    background:rgba(34,197,94,0.25);
}

.circle{
    position:fixed;
    border-radius:50%;
    filter:blur(100px);
    z-index:-1;
}

.c1{
    width:300px;
    height:300px;
    background:#3b82f6;
    top:50px;
    left:50px;
}

.c2{
    width:250px;
    height:250px;
    background:#8b5cf6;
    right:50px;
    bottom:50px;
}

.c3{
    width:220px;
    height:220px;
    background:#06b6d4;
    top:300px;
    right:250px;
}
